#alle binary dateien
*.log
*.tlog
*.lastbuildstate
*.ipch
*.db
*.obj
*.suo
*.sln
*.sdf
#die Release und Debug Ordner
Win32
/TouchScreen/Debug
/TouchScreen/Release
/TouchScreen/GeneratedFiles/*
*.vs
UpgradeLog.htm
*.vcxproj
*.vcxproj.filters
*.user
*.filters
*.aux
*.out
*.gz
